<h1>All Employee Information:</h1>

<% @employees.each do |employee| %>
<h2><%= employee.first_name %></h2>
<h2><%= employee.last_name %></h2>
<h2><%= employee.email %></h2>
<h2><%= employee.job_title %></h2>
<h2><%= employee.salary %></h2>
<% end %>