<h1>Employee 2 is:</h1>

<h2><%= @employee2.first_name %></h2>
<h2><%= @employee2.last_name %></h2>
<h2><%= @employee2.email %></h2>
<h2><%= @employee2.job_title %></h2>
<h2><%= @employee2.salary %></h2>
