<h1>Employee 3 is:</h1>

<h2><%= @employee3.first_name %></h2>
<h2><%= @employee3.last_name %></h2>
<h2><%= @employee3.email %></h2>
<h2><%= @employee3.job_title %></h2>
<h2><%= @employee3.salary %></h2>